.listTeams {
    display: grid;
    grid-template: 1fr/1fr 1.5fr 0.5fr;
    grid-column-gap: 10px;
}

.listTeams div {
    justify-self: center;
    align-self: center;
}

.wrap {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    justify-content: center;
    grid-gap: 3%;
    margin-right: 3%;
}

.imgTeam {
    width: 120px;
    height: 120px;
}

form {
    margin: 5%;
}

.titleTeam {
    margin: 5%;
}

.logoTeam {
    width: 150px;
    height: 180px;
}

@media screen and (max-width: 900px) {
    .wrap {
        grid-template: 1fr/1fr;
    }
}

@media screen and (max-width: 450px) {
    .imgTeam {
        width: 80px;
        height: 80px;
    }

    .logoTeam {
        width: 120px;
        height: 150px;
    }

    .bodyTeam {
        margin-left: 4%;
    }

    form .search {
        margin: 2%;
        flex-direction: column;
    }

    form .search input {
        margin: 1%;
    }

    form {
        flex-direction: column;
        margin: 1%;
    }
}

@media screen and (max-width: 350px) {
    .titleTeam {
        font-size: 20px;
    }
}
